.category-and-books {
    display: flex;

}
.category-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

/* ShowAllCategories */
.category-list .category-name{
    display: flex;
}

/* CategorySearch */
.form-control {
    width: 50px;
}