.footer {
    
    height: 55px;
    background: linear-gradient(to right, #a5a5cf, #96b4ec, #71bbe2); 
    opacity: 0.95;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
   
    flex-direction: row;
    padding-top: 10px; 
    padding-bottom: 10px; 

}

.socialMedia svg {
    width: 30px;
    color:rgb(31, 31, 92);
    font-size:20px;
    cursor: pointer;
}

.footer span {
    color:rgb(31, 31, 92);
    font-size: 11px;

}

